body {
  font-family: Arial, Helvetica, sans-serif;
}

#song-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#song-img {
  height: 300px;
  width: 300px;
  border-radius: 15px;
}

#Song-name {
  margin-top: 20px;
  font-size: 2em;
}
#music-buttons {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#music-buttons i {
  padding: 10px;
}
#slide-music {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 250px;
  height: 3px;
  /* background: repeating-linear-gradient(
    45deg,
    red,
    red 10px,
    black 10px,
    black 20px
  ); */
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 15px;
}
#slide-music::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: rgb(147, 195, 195);
  border-radius: 50%;
}